*{
 margin: 0;
 padding: 0;
}

:root{
  --font1:"Montserrat", sans-serif;
  --font2:"Roboto Condensed", sans-serif;
  --font3:"Epunda Slab", serif;
}


body{
  width: 100vw;
  background: #f3f4f6;
  font-family: var(--font2);
  /* padding-top: 75%; 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */

}

html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: black;
}

.navlinkimg{
  width: 3rem;
}


.maincontainer{
  width: 90%;
  height: 95vh;
  max-width: 125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 1.5rem auto;
  border-radius: 40px;
  border: 0.1px solid black;
 }

 .btn{
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  font-size: 2rem;
}
.btn1{
  font-family: var(--font1);
  margin: 1.5rem;
  color: var(--white);
  background-color: var(--midnightblue);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn1:hover{
      transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}