*{
 margin: 0;
 padding: 0;
}

:root{
  --font1:"Montserrat", sans-serif;
  --font2:"Roboto Condensed", sans-serif;
  --font3:"Epunda Slab", serif;
}


body{
  width: 100vw;
  background: #f3f4f6;
  font-family: var(--font2);
  /* padding-top: 75%; 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */

}

html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: black;
}

.navlinkimg{
  width: 3rem;
}


.maincontainer{
  width: 90%;
  height: 95vh;
  max-width: 125rem;
  display: flex;
  background: white;
  margin: 1.5rem auto;
  border-radius: 40px;
  border: 0.1px solid black;
 }


.maincontainer1{
  width: 20%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.5px solid black;

}

.lst1,.lst2{

  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lst1{
  margin-top: 7rem;
}

.navlink{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 15px;
  /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.navlink:hover{ 
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
} 

.navlink.active {
  background-color: var(--sky);
  font-weight: bold;
}

/* ------------- */





@media(max-width:760px){

  .maincontainer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--midnightblue);
  border-top: 2px solid black;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center; /* center nav-container horizontally */
  border-radius: 25px 25px 0px 0px;
}

.nav-container {
  width: 100%;
  max-width: 600px; /* Desktop max width */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
   .lst2,.navlinktxt{
    display: none;
   }
}
